{% extends "layout.html" %}
{% block body %}
<script src='http://libs.baidu.com/jquery/1.11.1/jquery.min.js'></script>
<head>
    <title>admin</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript">
      function checkCard(){        
            return true;
        }
    </script>
</head>

<body bgcolor="#1E81C2" onload="" >
     <form  action="card" name="cardForm" method="post">
     <div  id="cardFormMain">
         <table  style="width:468px;height:262px;background-color: gray;text-align: center;">
              <tr>
                  <td>充值卡号:<input type="text" style="width: 200px;height: 30px;"  name="card"></td>
              </tr>
              <tr>
                  <td>充值卡类型:<input type="text"  style="width: 200px;height: 30px;"  name="cardtype"></td>
              </tr>
              <tr>
                  <td align="center" ><input type="submit" style="cursor: pointer;font-style: inherit;" name="submit"  onclick="return checkCard();" value="生成卡密" >
                  </td> 
              </tr>
         </table>
     </div>
      </form>
</body>
</html>
{% endblock %}