<html>
<script src='http://libs.baidu.com/jquery/1.11.1/jquery.min.js'></script>
<head>
    <title>admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript">
      function checkCard(){        
            return true;
        }
    </script>
</head>

<body bgcolor="#1E81C2" onload="" >
     <form  action="card" name="loginForm" >
     <div  id="loginFormMain">
         <table  style="width:468px;height:262px;background-color: gray;text-align: center;">
              <tr>
                  <td>card:<input type="text" style="width: 200px;height: 30px;"  name="card"></td>
              </tr>
              <tr>
                  <td>type:<input type="text"  style="width: 200px;height: 30px;"  name="card_type"></td>
              </tr>
              <tr>
                  <td align="center" ><input  formmethod="post" type="submit" style="cursor: pointer;font-style: inherit;" name="submit"  onclick="return checkCard();" value="submit" >
                  </td> 
              </tr>
         </table>
     </div>
      </form>
</body>
</html>