<html>
<body><h2>1.  服务概述</h2>
<h4>1.1  本服务条款是用户（您）与“风暴眼”外汇预测工具软件（下称风暴眼）出品方之间的协议。我们为您提供风暴眼外汇预测工具软件，风暴眼基于用户设定的外汇数据提供预测。风暴眼在此特别提醒用户认真阅读、充分理解本《服务协议》（下称《协议》）——用户应认真阅读、充分理解本《协议》中各条款，包括免除或者限制风暴眼责任的免责条款及对用户的权利限制条款。请您审慎阅读并选择接受或不接受本《协议》（未成年人应在法定监护人陪同下阅读）。除非您接受本《协议》所有条款，否则您无权注册、登录或使用本协议所涉相关服务。您的注册、登录、使用等行为将视为对本《协议》的接受，并同意接受本《协议》各项条款的约束。</h4>

<h2>2.  用户使用规则</h2>     

<h4>2.1  用户必须自行配备上网和运行风暴眼所需的设备，自行负担个人上网或第三方（包括但不限于电信或移动通信提供商）收取的通信费、信息费等有关费用。如涉及电信增值服务的，我们建议您与您的电信增值服务提供商确认相关的费用问题。</h4>

<h4>2.2  除您与“风暴眼”外汇预测工具软件出品方之间另有约定外，您同意本服务仅供个人使用且非商业性质的使用，您不可对本服务任何部分或本服务之使用或获得（包括但不限于个人账户及其相关信息），进行复制、拷贝、出售、或利用本服务进行调查、广告、或用于其他商业目的，其中，您不得将任何与风暴眼有关的广告信函与信息、促销资料、以网络电话、短信、彩信、邮件、即时通信、文件分享或以其他方式传送，但“风暴眼”外汇预测工具软件出品方对特定服务另有适用指引或规则的除外。</h4>

<h4>2.3  保证自己在使用各服务时用户身份的真实性和正确性及完整性，如果资料发生变化，您应及时更改。在安全完成本服务的登记注册及验证后，您应维持密码及帐号的机密安全。您应对任何人利用您的密码及帐号（包括但不限于风暴眼用户名及密码，风暴眼的捆绑手机号码等）所进行的活动负完全的责任，“风暴眼”外汇预测工具软件出品方、运营方及服务方无法对非法或未经您授权使用您帐号及密码的行为作出甄别，因此“风暴眼”外汇预测工具软件出品方、运营方及服务方不承担任何责任。在此，您同意并承诺做到∶</h4>
<h5>2.3.1  当您的密码或帐号遭到未获授权的使用，或者发生其他任何安全问题时，您需立即有效通知到“风暴眼”外汇预测工具软件的服务方。</h5>
<h5>2.3.2  当您每次上网或使用其他服务完毕后，会将有关帐号，例如风暴眼帐号等安全退出。</h5>

<h4>2.4  用户同意接受“风暴眼”外汇预测工具软件运营方及服务方通过手机短信、电子邮件、风暴眼客户端软件、网页或其他合法方式向用户发送商品促销或其他相关商业信息。在使用电信增值服务的情况下，用户同意接受本公司及合作公司通过增值服务系统或其他方式向用户发送的相关服务信息或其他信息，其他信息包括但不限于通知信息、宣传信息、广告信息等。</h4>

<h4>2.5  关于收费服务</h4>
<h5>2.5.1  “风暴眼”外汇预测工具软件的服务以收费方式提供（试用期除外）。一旦您本人或他人（包括您的代理）使用风暴眼软件所包含的功能，您应按有关的收费标准、付款方式支付相关服务费及其他费用。</h5>
<h5>2.5.2 逾期付费：服务费到期后风暴眼软件将停止包括预测在内的核心服务。续费之后该帐户权限恢复。</h5>

<h4>2.6  依本服务条款所取得的服务权利不可转让。</h4>

<h4>2.7  您需要严格遵守国家的有关法律、法规和行政规章制度。如用户违反国家法律法规或本服务条款，本软件及服务提供方（含出品方、运营方和服务方）和相关合作方将有权停止向用户提供服务而不需承担任何责任，如导致本软件及服务提供方（含出品方、运营方和服务方）和相关合作方遭受任何损害或遭受任何来自第三方的纠纷、诉讼、索赔要求等，用户须向本软件及服务提供方（含出品方、运营方和服务方）和相关合作方赔偿相应的损失，用户并需对其违反服务条款所产生的一切后果负全部法律责任。</h4>

<h2>3.  服务风险及免责声明</h2>

<h4>3.1  用户须明白，本服务仅依其当前所呈现的状况提供，本服务涉及到金融衍生品及相关预测等服务，可能会受到各个环节不稳定因素的影响。因此服务存在因上述不可抗力、计算机病毒或黑客攻击、系统不稳定、用户所在位置、用户关机、通信网络、互联网络原因等造成的服务中断或不能满足用户要求的风险。开通服务的用户须承担以上风险，本公司和合作公司对服务之及时性、安全性、准确性不作担保，对因此导致用户不能发送和接受阅读消息、或传递错误，个人设定之时效、未予储存或其他问题不承担任何责任。</h4>

<h4>3.2  使用本软件产品风险由用户自行承担，在适用法律允许的最大范围内，对因使用或不能使用本软件所产生的损害及风险，包括但不限于直接或间接的个人损害、商业赢利的丧失、贸易中断、商业信息的丢失或任何其它经济损失。</h4>

<h2>4.  权利声明</h2>

<h4>本软件的一切知识产权，以及与”软件”相关的所有信息内容，包括但不限于：文字表述及其组合、图标、图饰、图像、图表、色彩、界面设计、版面框架、有关数据、附加程序、印刷材料或电子文档等均为作者所有，受著作权法和国际著作权条约以及其他知识产权法律法规的保护。</h4>

<h2>5.  权利限制</h2>

<h4>5.1  禁止反向工程、反向编译和反向汇编：用户不得对本软件产品进行反向工程(Reverse  Engineer)、反向编译(Decompile)或反向汇编(Disassemble)，同时不得改动编译在程序文件内部的任何资源。除法律、法规明文规定允许上述活动外，用户必须遵守此协议限制。</h4>

<h4>5.2  个别授权:  如需进行商业性的销售、复制、分发，包括但不限于软件销售、预装、捆绑等，必须获得作者的授权和许可。</h4>

<h4>5.3  保留权利：本协议未明示授权的其他一切权利仍归风暴眼出品方所有，用户使用其他权利时必须获得出品方的书面同意。</h4>

<h2>6.  法律及争议解决</h2>

<h4>6.1  本协议适用中华人民共和国法律。</h4>

<h4>6.2  因本协议引起的或与本协议有关的任何争议，各方应友好协商解决;协商不成的，任何一方均可将有关争议提交至当地司法机关进行裁定。</h4>

<h2>7.  其他条款</h2>

<h4>7.1  如果本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，或违反任何适用的法律，则该条款被视为删除，但本协议的其余条款仍应有效并且有约束力。</h4>

<h4>7.2  作者有权根据有关法律、法规的变化以及经营状况和经营策略的调整等修改本协议。修改后的协议会随附于新版本软件。当发生有关争议时，以最新的协议文本为准。如果不同意改动的内容，用户可以自行删除本软件。如果用户继续使用本软件，则视为您接受本协议的变动。</h4>

<h4>7.3  本协议的一切解释权与修改权归出品方所有。</h4>

</body>
</html>