<html>
<script src='knockout.js'></script>
<script src='http://libs.baidu.com/jquery/1.11.1/jquery.min.js'></script>
<h2>User</h2>
<br/>
<div id='usersList'>
    <table class='contactsEditor'>
        <tr>
            <th>序号</th>
            <th>邮箱</th>
            <th>联系电话</th>
            <th>用户类型</th>
        </tr>
        <tbody data-bind="foreach: users">
            <tr>
                <td><input data-bind='value: id' readonly="readonly" /></td>
                <td><input data-bind='value: email' readonly="readonly" /></td>
                <td><input data-bind='value: phone' readonly="readonly" /></td>
                <td><select  data-bind='value: usertype' /> 
                    <option value ="0">试用账户</option>
                    <option value ="1">正常用户</option>
                    <option value ="2">过期用户</option>
                <td><div><a href='#' data-bind='click: $root.save'>保存修改</a></div></td>
                <td><div><a data-bind="attr: { 'href': '/user/' }, value:userid" >查看充值记录</a></div></td> 
            </tr>
        </tbody>
    </table>
</div>
</html>

<script type="text/javascript">
var initialData = [
    { id: "1", email: "sunhaoyu", phone:"15901009909", usertype:"1" },
    { id: "2", email: "dudongmei", phone:"15901009908", usertype:"2" }
];

var UserModel = function(users) {
    var self = this;
/*    self.users = ko.observableArray(ko.utils.arrayMap(users, function(user) {
        return { id: user.id, name: user.name, mobile: user.mobile, usertype: user.usertype};
    }));*/
    self.users = ko.observableArray([]);

    self.save = function(user) {
        $.ajax({
            url:  "/admin?service=admin&function=changeusertype", 
            type: "Post",
            data: {'email':user.email,'usertype':user.usertype},
            success: function (response) {
                alert('保存成功');
            }
        });
    };

    self.loadData = function () {
        $.ajax({
            url:  "/admin/users", //这里你需要有自己的web api 
            type: "Post",
            success: function (response) {
                self.users(response.data);  // 加载结果入joinlist
            }
        });
    }
    
};
usermodel = new UserModel(initialData)
ko.applyBindings(usermodel);
usermodel.loadData()
</script>