<html>
<script src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js'></script>
<script src='http://libs.baidu.com/jquery/1.11.1/jquery.min.js'></script>
<h2>充值详情</h2>
<br/>
<div id='userchargeList'>
    <table class='contactsEditor'>
        <tr>
            <th>用户id</th>
            <th>充值卡id</th>
            <th>充值时间</th>
            <!-- <th>用户类型</th> -->
        </tr>
        <tbody data-bind="foreach: users">
            <tr>
                <td><input data-bind='value: userid' readonly="readonly" /></td>
                <td><input data-bind='value: cardid' readonly="readonly" /></td>
                <td><input data-bind='value: createtime' readonly="readonly" /></td>
                <!-- <td><input data-bind='value: phone' readonly="readonly" /></td> -->
            </tr>
        </tbody>
    </table>
</div>
</html>

<script type="text/javascript">
var initialData = [
    { id: "1", email: "sunhaoyu", phone:"15901009909", usertype:"1" },
    { id: "2", email: "dudongmei", phone:"15901009908", usertype:"2" }
];

var ChargeModel = function(users) {
    var self = this;

    self.users = ko.observableArray([]);
    url = window.location.href;
    pos = window.location.href.indexOf('user')
    userid = url.substr(pos + 5)
    self.loadData = function () {
        $.ajax({
            url:  "/user/getcharge", //这里你需要有自己的web api 
            type: "Post",
            data: {'userid': userid},
            success: function (response) {
                self.users(response.data);  // 加载结果入joinlist
            }
        });
    }
};
chargeModel = new ChargeModel(initialData)
ko.applyBindings(chargeModel);
chargeModel.loadData()
</script>